div {
     float: left; /*Задаем обтекание*/
     /*line-height: 40px; Высота строки +  верт. центрирования текста*/
     /*margin-top: 60px;*/
     line-height:1.5;
     width: 120px; /*Фиксируем ширину блока*/
     height: 30px;
     /*margin-right: 10px;*/
     text-align: left; /*Центрируем текст по горизонтали*/
    }
